<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>future of design</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="#" class="logo">LOGO</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#blog">Blog</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#archives">Archives</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <section>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="blog-post">
                        <div class="thumbnail">
                            <img src="img/pexels-photo-1714208.webp" alt="computer on table">
                        </div>
                        <div class="blog-content">
                            <span class="date">The future of design - 29-01-2022</span>
                            <h3>Css3 Grid</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo eligendi provident magni qui at laboriosam. Labore in reiciendis repudiandae eos autem vitae officiis optio dolorem, nam obcaecati sapiente cumque. Expedita consequuntur cupiditate voluptas quam. Molestias similique distinctio rem magnam. Fuga sit aspernatur asperiores ea id, adipisci quis nisi iure?</p>
                            <a href="#" class="blog-button">Read More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <aside class="side-bar">
                    <div class="art">
                        <img src="img/stained-glass-spiral-circle-pattern-161154.jpeg" alt="stained glass spiral circle pattern">
                    </div>
                    <div class="commented-post">
                        <header>
                            <h3>Most Commented Posts</h3>
                        </header>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="comment-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="comment-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="comment-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="comment-button">0 Comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="recent-posts">
                        <header>
                            <h3>Most recent posts</h3>
                        </header>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="recent-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="recent-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="recent-button">0 Comments</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="thumb">
                                <img src="img/pexels-photo-1714208.webp" alt="">
                            </div>
                            <div class="content">
                                <span class="date">The future of design - 29-01-2022</span>
                                <h4>Css3 Grid</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, consequuntur?</p>
                                <a href="#" class="recent-button">0 Comments</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </section>
        </div>
    </main>
    <footer>
        <section>
            <div class="footer container">
                <div class="made"><a style="font-size:10px" href="http://devanswer.com">Developer Answers</a></div>
            </div>
        </section>
    </footer>
</body>
</html>
