<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>blog design</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="navbar"> 
    <div class="container flex">
    <h1 class="logo">LOGO</h1>
    <nav>
      <ul>
        <li class="nav"><a href="#" class="outline">Home</a></li>
        <li class="nav"><a href="#" class="outline">Blog</a></li>
        <li class="nav"><a href="#" class="outline">Archives</a></li>
        <li class="nav"><a href="#" class="outline">About</a></li>
        <li class="nav"><a href="#" class="outline">Contact</a></li>
      </ul>
    </nav>
    </div>
  </div> 
  <section class="showcase"> 
    <div class="container">
      <div class="grid">
        <div class="grid-item-1">
          <div class="showcase-text">
            <h2>Join me in my journey into coding and design</h2>
              <p class="supporting-text"> Over 30,000 students currently learn with us</p>
          </div>
          <div class="showcase-form">
            <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
            <p class="little-info">Try out our free courses today. No risk, no credit card required</p>
          </div>
        </div>
        <div class="grid-item-2">
          <div class="image">
            <img src="img/pexels-photo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> 
  <div class="lower-container container">
    <section class="recent"> 
      <div class="flex">
          <div class="recent-post">
            <i class="fab fa-css3 fa-2x" aria-hidden="true"></i>
            <h3 class="title">Over 300 available courses</h3>
	           <time datetime="2011-11-18">23 Januari 2022</time>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
          <div class="recent-post">
            <i class="fab fa-css3 fa-2x" aria-hidden="true"></i>
            <h3 class="title">Free certificate offered on all courses</h3>
	           <time datetime="2011-11-18">23 Januari 2022</time>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	          <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
          <div class="recent-post">
            <i class="fab fa-css3 fa-2x" aria-hidden="true"></i>
            <h3 class="title">Book 1on1 session for as low as $5</h3>
            <time datetime="2011-11-18">23 Januari 2022</time>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	          <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
        </div>
    </section> 
    <section class="blogs"> 
      <div class="container">
        <div class="blog grid-3">
          <div class="blog-card">
            <div class="circle">
              <img src="img/pexels-photo-1102797.jpg" alt="">
            </div>
            <h3>Aston</h3>
	    <time datetime="2011-11-18">23 Januari 2022</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
	    <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
          <div class="blog-card">
            <div class="circle">
              <img src="img/pexels-photo-1102797.jpg" alt="">
            </div>
            <h3>Beth</h3>
	    <time datetime="2011-11-18">23 Januari 2022</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
	    <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
          <div class="blog-card">
            <div class="circle">
              <img src="img/pexels-photo-1102797.jpg" alt="">
            </div>
            <h3>Chris</h3>
	    <time datetime="2011-11-18">23 Januari 2022</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
	    <form action="#">
              <input type="submit" class="btn" value="Read More">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
	<section class="affiliates">
        <div class="flex">
          <div class="affiliates-links">
            <ul>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
      	    </ul>
          </div>
          <div class="affiliates-links">
            <ul>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
      	    </ul>
          </div>
          <div class="affiliates-links">
            <ul>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
        	<li class="aff"><a href="#" class="outline">Planning to become affiliates</a></li>
      	    </ul>
          </div>
        </div>
      </section>
    </div>
  <footer>
   <div class="container grid-3">
     <div class="copyright">
       <a style="font-size:10px" href="http://www.devanswer.com">Developer Answers</a>
     </div>
     <nav class="links">
       <ul>
         <li><a href="#" class="outline">Home</a></li>
         <li><a href="#" class="outline">Blog</a></li>
         <li><a href="#" class="outline">Archives</a></li>
         <li><a href="#" class="outline">About</a></li>
         <li><a href="#" class="outline">Contact</a></li>
       </ul>
     </nav>
     <div class="profiles">
       <a href=""><em class="fab fa-twitter fa-2x"></em></a>
       <a href=""><em class="fab fa-instagram fa-2x"></em></a>
       <a href=""><em class="fab fa-facebook fa-2x"></em></a>
       <a href=""><em class="fab fa-whatsapp fa-2x"></em></a>
     </div>
   </div>
 </footer>
</body>
</html>
