<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing page with basic HTML, bootstrap &amp; SCSS.</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" >
                CofeeCafe
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-capitalize text-dark" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-capitalize text-dark"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            demo progress
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" >Action</a>
                            <a class="dropdown-item" >Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" >Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-capitalize text-dark"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            bloks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" >Action</a>
                            <a class="dropdown-item" >Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" >Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-capitalize text-dark"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" >Action</a>
                            <a class="dropdown-item" >Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" >Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pink-btn" >download</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- main-banner-section -->
    <section class="main-banner bg-img">
        <div class="container">
            <div class="banner-content text-center">
                <h6 class="text-white text-uppercase">want to have a good time and to drink some coffee?</h6>
                <h4 class="text-white text-uppercase">come to our cafe</h4>
                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                <a  class="pink-btn read-more">read more</a>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-12 pr-0">
                    <div class="service-card">
                        <span><i class="fa fa-mug-hot"></i></span>
                        <h5 class="text-dark text-capitalize my-3">testy coffe</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 px-0">
                    <div class="service-card f2f2">
                        <span><i class="far fa-clock"></i></span>
                        <h5 class="text-dark text-capitalize my-3">testy coffe</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 pl-0">
                    <div class="service-card">
                        <span><i class="fa fa-truck"></i></span>
                        <h5 class="text-dark text-capitalize my-3">testy coffe</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- two-column-section -->
    <section>
        <div class="container">
            <h4 class="section-title">You will enjoy our cafe if you love...</h4>
            <div class="row my-5">
                <div class="col-lg-6 col-md-12">
                    <div class="image-wrap">
                        <img src="img/img1.jpg" alt="cafe-inner">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 align-self-center">
                    <div class="two-col-content">
                        <h5 class="inner-title"> Homely atmosphere </h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                        <a  class="text-capitalize pink-btn"> view more </a>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-12">
                    <div class="image-wrap">
                        <img src="img/img2.jpg" alt="cafe-service">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 align-self-center">
                    <div class="two-col-content">
                        <h5 class="inner-title"> Excellent service </h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                        <a  class="text-capitalize pink-btn"> view more </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- visit-us-section -->
    <section class="visit-us-wrap bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="each-reason">
                                <h6 class="title-sm txt-bg"> our team </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="each-reason">
                                <h6 class="title-sm txt-bg"> our coffee </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="each-reason">
                                <h6 class="title-sm txt-bg"> our philosophy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="each-reason">
                                <h6 class="title-sm txt-bg"> our speed </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="text-white mb-2">And that's not all...</p>
                    <h4 class="section-title text-capitalize text-white text-left">4 reasons to visit us</h4>
                    <p class="text-white mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip'sum has been the industry's standard.</p>
                    <a  class="pink-btn text-capitalize">visit us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- meet-team-section -->
    <section>
        <div class="container">
            <h4 class="section-title">Meet our team</h4>
            <p class="text-secondary text-center">We make the world's best cofee</p>
            <div class="row my-5">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap mb-4">
                        <img src="img/img3.jpg" alt="team1">
                    </div>
                    <div class="each-detail">
                        <h6 class="title-sm text-capitalize">amanda adams</h6>
                        <span class="text-secondary">Lorem Ipsum</span>
                        <p class="text-secondary mt-2">Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap mb-4">
                        <img src="img/img4.jpg" alt="team2">
                    </div>
                    <div class="each-detail">
                        <h6 class="title-sm text-capitalize">amanda adams</h6>
                        <span class="text-secondary">Lorem Ipsum</span>
                        <p class="text-secondary mt-2">Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap mb-4">
                        <img src="img/img5.jpg" alt="team3">
                    </div>
                    <div class="each-detail">
                        <h6 class="title-sm text-capitalize">amanda adams</h6>
                        <span class="text-secondary">Lorem Ipsum</span>
                        <p class="text-secondary mt-2">Lorem Ip'sum has 	been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- proud-section -->
    <section class="proud-section bg-img py-5 mb-0">
        <div class="container py-5">
            <h4 class="section-title text-white">We are poud of our coffee</h4>
            <p class="text-center text-white">There is nothing to write here!</p>
        </div>
    </section>
    <!-- blog-section -->
    <section class="blog-detail mb-0">
        <div class="container">
            <h4 class="section-title">Read our blog to understand our philosophy</h4>
            <div class="row my-5">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap">
                        <span class="pink-btn sticky-tag">customer story</span>
                        <img src="img/img6.jpg" alt="team1">
                    </div>
                    <div class="each-detail text-center bg-white">
                        <h6>Excellent coffee</h6>
                        <p class="text-secondary mt-2 mb-3">Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                        <a  class="pink-btn text-capitalize">read more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap">
                        <span class="pink-btn sticky-tag">outlook</span>
                        <img src="img/img8.jpg" alt="team2">
                    </div>
                    <div class="each-detail text-center bg-white">
                        <h6>Outlook</h6>
                        <p class="text-secondary mt-2 mb-3">Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                        <a  class="pink-btn text-capitalize">read more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="image-wrap">
                        <span class="pink-btn sticky-tag">kitchen stories</span>
                        <img src="img/img7.jpg" alt="team3">
                    </div>
                    <div class="each-detail text-center bg-white">
                        <h6>Tasty delecacies</h6>
                        <p class="text-secondary mt-2 mb-3">Lorem Ip'sum has been the industry's standard dummy text ever since the 1500s.</p>
                        <a  class="pink-btn text-capitalize">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <p class="footer-title">Product</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Product 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Product 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Plans & Prices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Frequently asked questions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <p class="footer-title">Company</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Portfilo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >News and articles</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-column">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <p class="footer-title">Contact & Support</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fas fa-phone mr-2"></i>+91 9876543210</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ><i class="fas fa-comments mr-2"></i>Live chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ><i class="fas fa-envelope mr-2"></i>Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ><i class="fas fa-star mr-2"></i>Give feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 text-left">
                    <ul class="list-inline social-buttons mb-0">
                        <li class="list-inline-item">
                            <a >
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a >
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-left">
                    <span class="copyright quick-links">
                        <a href="http://www.devanswer.com/">Developers answer</a>
                        <script>document.write(new Date().getFullYear())</script>
                    </span>
                </div>
                <div class="col-md-4 text-left">
                    <ul class="list-inline quick-links mb-0">
                        <li class="list-inline-item">
                            <a >Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a >Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- partial -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
</body>
</html>
