<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="presentation_pv.css">-->
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css family=Open+Sans|Roboto">
</head>
<body>
    <section class="page-header">
        <div class="photo">
            <img src="img/avatar.png" alt="Ma photo de profil">
            <h1 class="project-name">Project Name</h1>
            <h2 class="project-tagline">My first presentation for Your Project</h2>
        </div>
    </section>
    <!--menu déroulant'-->
    <nav>
        <ul>
            <li><a href="#pourquoi-formation-web-dev">Why Web Dev</a></li>
            <li><a href="#parcours">Route</a></li>
            <li><a href="#intérêts">Interests</a></li>
            <li><a href="#réseaux">Social Networks</a></li>
        </ul>
    </nav>
    <!--<infos pratiques -->
    <section class="main-content marge">
        <p>53 old, married</p>
        <h2 id="pourquoi-formation-web-dev">Why a Web Developer training at CEFIM?</h2>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua( 😉)</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
        </ol>
        <h2 id="parcours">My career</h2>
        <h3 id="responsable-q">Quality Manager</h3>
        <p>Lorem ipsum dolor <em>2019 - 2020</em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <span>VBA Excel</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <h3 id="imprimeur-3d">Imprimeur 3D</h3>
        <p>Lorem ipsum <em>septembre 2017</em> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <span>Industriels</span>.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua : <a>Digital spare parts!</a></li>
            <video width="320" height="240" controls>
                <source src="http://devanswer.github.io/templates/portfolio/project/video/sample.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <li>Here is also my Facebook Pro page : <a>3D Facebook Pro</a></li>
        </ul>
        <h3 id="acheteur">Acheteur</h3>
        <p>Lorem ipsum <em>Lorem ipsum</em>Lorem ipsum<span>Industrie Automobile</span> pour la gestion d’un panel de 100 fournisseurs de pièces mécaniques, textile et chimie.</p>
        <h3 id="technicien-qualité">Technicien Qualité</h3>
        <p><em>Lorem ipsum</em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </li>
            <li>Lorem ipsum dolor sit ame <span> VBA Excel </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  avec réalisation de liaisons bases-formulaires, boites de dialogues, intégration d’images…)</li>
        </ul>
        <h3 id="dut-gmp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<em>1990</em></h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        </ul>
        <h2 id="intérêts">Buyer</h2>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur 😁</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!!</li>
            <li>La programmation (en <span> VBA Excel</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <span> devis </span>et <span>factures clients</span> automatiquement!)</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</li>
        </ul>
        <h2 id="réseaux">Social Networks</h2>
        <!--liens résaux sociaux-->
        <div class="social">
            <a><img src="img/fb.png"  alt="Logo Fb"></a>
            <a><img src="img/lk.png" alt="Logo Lk"></a>
        </div>
        <footer class="site-footer"style="text-align:center">
            <a style="font-size:9px;text-decoration:none;" href="http://www.devanswer.com/">Developers Answer</a>
        </footer>
    </section>
</body>
</html>
