<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV-portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <main>
        <div class="mainWrapper">
            <header>
                <img src="img/avatar.png" alt="profile-image" class="profileImage">
                <h1 class="profileName">Name and Family</h1>
                <h2 class="profileDesignation">HTML Developer, Web Designer</h2>
                <div class="socialNetworking">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="headerBtnGroup">
                    <a class="btn btn-outline-white">Mail Me</a>
                    <a class="btn btn-solid-primary">Download CV</a>
                </div>
            </header>
            <div class="contentWrapper">
                <div class="aboutContent">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque</p>
                </div>
                <div class="basicInfoContent">
                    <h2>Basic Information</h2>
                    <div class="info">
                        <div class="infoLabel">
                            <ul>
                                <li>Date Of Birth:</li>
                                <li>Email Id:</li>
                                <li>Phone:</li>
                                <li>Address:</li>
                                <li>Languange:</li>
                                <li>Gender:</li>
                            </ul>
                        </div>
                        <div class="labelValue">
                            <ul>
                                <li>28/10/1993</li>
                                <li>youremail@gmail.com</li>
                                <li>01111111111</li>
                                <li>your addre-11111</li>
                                <li>Hindi, English, Bengali</li>
                                <li>Male</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workExperienceContent">
                <h2 class="text-center">Work Experince</h2>
                <div class="workExperinceRow">
                    <div class="WorkYearBlock">
                        Feb 2018 - Present
                    </div>
                    <div class="workDescription">
                        <h3>Web Designer / <span class="workCompanyName">Syscon Engineering</span></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque
                        </p>
                    </div>
                </div>
            </div><!-- ending of work experience-->
            <div class="qualificationContent">
                <h2 class="text-center">Educational Qualification</h2>
                <div class="qualificationCarousel">
                    <div class="owl-carousel">
                        <div>
                            <div class="eduDate">2009<time datetime="2009/06/01"></time></div>
                            <div class="eduLabel">Madhyamik(CBSE)</div>
                            <div class="eduPercentage">64.5%</div>
                        </div>
                        <div>
                            <div class="eduDate">2011<time datetime="20011/04/01"></time></div>
                            <div class="eduLabel">Higher Secondary(WBCHSE-Commerce)</div>
                            <div class="eduPercentage">71%</div>
                        </div>
                        <div>
                            <div class="eduDate">2018<time datetime="2009/06/01"></time></div>
                            <div class="eduLabel">Bcom(IGNOU)</div>
                            <div class="eduPercentage">49.5%</div>
                        </div>
                        <div>
                            <div class="eduDate">2018<time datetime="2009/06/01"></time></div>
                            <div class="eduLabel">Brainware (Web Designing)</div>
                            <div class="eduPercentage">Grade: A</div>
                        </div>
                        <div>
                            OTHERS
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillAndLangWrapper">
                <div class="skillWrapper">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Bootstrap</span>
                    <span>Js</span>
                    <span>jQuery</span>
                    <span>Wordpress</span>
                    <span>Photoshop</span>
                </div>
                <div class="langWrapper">
                </div>
            </div>
            <footer>
               <a style="font-size:9px;text-decoration:none" href="http://www.devanswer.com/">Developers Answer</a>
            </footer>
        </div>
    </main>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script src="./script.js"></script>
</body>
</html>
