<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/hrX.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet" />
    <title>Websiet Title</title>
</head>
<body id="body">
    <img src="img/hrp.svg" id="wave">
    <section id='navbar'>
        <nav class='navbar navbar-expand-lg justify-content-end' id='nav'>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id='menu-icon'>
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class='nav-item'>
                        <a class="nav-link active" aria-current="page" href="#resume">About</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#projects">Portifolio</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#contact">Contact me</a>
                    </li>
                </ul>
                <div class="lang justify-content-center">
                    <ul class="navbar-nav">
                        <li class='nav-item-lang'>
                            <a class='nav-link-lang' href="#"><img src="img/brazil-circular.png" id="flag">BR</a>
                        </li>
                        <li class='nav-item-lang'>
                            <a class='nav-link-lang' href="#"><img src="img/usa-circular.png">EN</a>
                        </li>
                        <button id="darkMode"><i class="fa-solid fa-moon"></i></button>
                        <button id="lightMode"><i class="fa-solid fa-sun"></i></button>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section id="welcome-section" class="welcome-section">
        <img src='img/header.png' id='logo' alt='portifolio-logo'>
        <p class='text-center' id="resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </section>
    <section class='resume'>
        <div class="container" data-aos="fade-up">
            <div class='row justify-content-md-center'>
                <div class="col-lg-6">
                    <p class='text-center resume-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.
                    </p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6">
                    <h3 class="resume-title">Core skills</h3>
                    <ul class="text-center core">
                        <li>Creativity and excellent communication skills;</li>
                        <li>Skill with data analysis and statistical analysis software;</li>
                        <li>Strong leadership and problem solving skills;</li>
                        <li>Familiarity with web design and markup, styling and programming languages;</li>
                    </ul><br>
                    <h3 class="resume-title">Experience</h3>
                    <div class="resume-item">
                        <h4>Sound editor</h4>
                        <h5>2021 - </h5>
                        <p>Sua Ciência Institute (Itajubá/MG/BRA)</p>
                        <ul>
                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus. </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Communication and pedagogical coordinator</h4>
                        <h5>2020-2021</h5>
                        <p>Movimento Água é Vida (Feira de Santana/BA/BRA)</p>
                        <ul>
                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.</li>
                            <li>Still as communication coordinator, I was the head of the team of our environmental education podcast <a href='#'>some link</a>,  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.</li>
                            <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Researcher</h4>
                        <h5>2017-2019</h5>
                        <p>Phycology Laboratory (Florianópolis/SC/BRA)</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus </li>
                            <li>I also got an Internship as a teacher in Fitobentos subject for students of the sixth semester of bachelor's degree in Oceanography at Federal University of Santa Catarina (30h);</li>
                    </div>
                    <div class="resume-item">
                        <h4>Researcher</h4>
                        <h5>2011-2016</h5>
                        <p>Benthic Ecology Laboratory (Salvador/BA/BRA)</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis Morbi tristique senectus et netus</li>
                         </ul>
                    </div>
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>System development technician</h4>
                        <h5>2022 -</h5>
                        <p>SENAI (Feira de Santana/BA/BRA)</p>
                    </div>
                    <div class="resume-item">
                        <h4>Master in Oceanography</h4>
                        <h5>2017 - 2019</h5>
                        <p>UFSC (Florianópolis/SC/BRA)</p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor in Oceanography</h4>
                        <h5>2010 - 2016</h5>
                        <p>UFBA (Salvador/BA/BRA)</p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor in Marine Sciences</h4>
                        <h5>2013 - 2014</h5>
                        <p>National University of Ireland (Galway/GA/IRE)</p>
                    </div>
                    <p class="h3 resume-title">Courses</p>
                    <div class="resume-item">
                        <h4>JavaScript Algorithm and Data Structures Certification</h4>
                        <h5>freeCodeCamp/300h</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Responsive Web Design Certification</h4>
                        <h5>freeCodeCamp/300h</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Introduction to Computer Science with Python part 1 and 2</h4>
                        <h5>USP/70h</h5>
                    </div>
                    <div class="resume-item">
                        <h4>Tech Academy</h4>
                        <h5>StartSe/100h</h5>
                    </div>
                    <div class="resume-item">
                        <h4>UX/UI Web</h4>
                        <h5>Cel.Lep - Estação Hack/32h</h5>
                    </div>
                    <h3 class="resume-title">Skills</h3>
                    <div class="resume-item">
                        <h4>Computing</h4>
                        <p>Microsoft office</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>HTML/CSS3</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>Figma</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-item" id="projects">
                        <h4>Languages</h4>
                        <p>Portuguese</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>English</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>Spanish</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects-section" id="projectSection">
        <h3 class="projects-section-header">Some of my works</h3>
        <div class="projects-grid">
            <a href="#"
               
               class="project project-tile">
                <img class="project-image"
                     src="img/SAM-2.png"
                     alt="random-quote-generator" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Random quote generator
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="#"
               
               class="project project-tile">
                <img class="project-image"
                     src="img/SAM-3.png"
                     alt="tetris-animation" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Tetris animation
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="#"
               
               class="project project-tile">
                <img class="project-image"
                     src="img/4.png"
                     alt="landing-page-pizzaria" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Landing page - Dona Ana Pizzaria
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
        </div>
        <br>
        <span id="breakPoint"></span><span id="more">
            <div class="projects-grid">
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/SAM.png"
                         alt="memory-game" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        2022 FIFA World Cup - Memory Game
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/5.png"
                         alt="landing-page-pet-adoption" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        Landing page - PetMatch
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/7.png"
                         alt="product-landing-page" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        Product landing page
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/6.png"
                         alt="template-website-cloning" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        Template website cloning
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/9.png"
                         alt="survey-form" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        Survey form
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
                <a href="#"
                   
                   class="project project-tile">
                    <img class="project-image"
                         src="img/8.png"
                         alt="technical-documentation-page" />
                    <p class="project-title">
                        <span class="code">&lt;</span>
                        Technical Documentation Page
                        <span class="code">&#47;&gt;</span>
                    </p>
                </a>
            </div>
        </span>
        </div>
        <button onclick="myFunction()" id="showBtn">Show more</button>
    </section>
    <footer id="contact" class="contact-section">
        <div class="contact-section-header">
            <a href="https://devanswer.com" style="font-size:10px">Developer Answers</a>
        </div>
        <div class="contact-links border-top">
            <a href="#"
               
               class="btn contact-details">
                <i class="fa-brands fa-codepen"></i> Codepen
            </a>
            <a id="profile-link"
               href="#"
               
               class="btn contact-details"><i class="fab fa-github"></i> GitHub</a>
            <a href="#"
               
               class="btn contact-details"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="#"
               
               class="btn contact-details"><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href="#" class="btn contact-details"><i class="fas fa-at"></i> Email</a>
            <a href="#" class="btn contact-details"><i class="fa-brands fa-whatsapp"></i> Write me</a>
        </div>
    </footer>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
