<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple neat blog template 01</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <center>
        <header>
            <h1>Header of Blog</h1>
        </header>
        <main>
            <aside>
                Side bar, ads<br>
                and highlights
                <br>
                <div class="summarymenu">
                    <details>
                        <summary class="headline">Categories</summary>
                        <div class="content">
                            <a href="#">Category 1</a><br>
                            <a href="#">Category 2</a><br>
                        </div>
                    </details>
                </div>
                <div class="summarymenu">
                    <details>
                        <summary class="headline">Affiliates</summary>
                        <div class="content">
                            <a href="#">Affiliate 1</a><br>
                            <a href="#">Affiliate 2</a><br>
                            <a href="#">Affiliate 3</a><br>
                        </div>
                    </details>
                </div>
                <div class="summarymenu">
                    <details>
                        <summary class="headline">Video News</summary>
                        <div class="content">
                            <a href="#">Link 1</a><br>
                            <a href="#">Link 2</a><br>
                        </div>
                    </details>
                </div>
                <div class="sponsordiv">
                    <h2>From our sponsor</h2>
                    <iframe width="190" height="155"
                            src="video/sample.mp4">
                    </iframe>
                    <br>
                    <iframe width="190" height="155"
                            src="video/sample.mp4">
                    </iframe>
                </div>
            </aside>
            <section>
                Main section with articles' previews
                <article>
                    <div class="articleimg">
                        <img src="img/237-300x200.jpg">
                        <div class="articlefooter"> Article by Alex D. - March 22, 2022 </div>
                    </div>
                    <div class="articletxt">
                        <h2>Article title Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan eleifend sapien vitae cursus. Aliquam laoreet purus ut pellentesque auctor. Curabitur consequat mauris sed leo condimentum finibus. Pellentesque iaculis turpis pellentesque risus semper posuere. Pellentesque sit amet pulvinar dolor. Donec ornare ac magna ac euismod.</p>
                        <div class="readmore"> Read More... </div>
                    </div>
                </article>
                <article>
                    <div class="articleimg">
                        <img src="img/235-300x200.jpg">
                        <div class="articlefooter"> Article by Alex D. - March 22, 2022 </div>
                    </div>
                    <div class="articletxt">
                        <h2>Article title Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan eleifend sapien vitae cursus. Aliquam laoreet purus ut pellentesque auctor. Curabitur consequat mauris sed leo condimentum finibus. Pellentesque iaculis turpis pellentesque risus semper posuere. Pellentesque sit amet pulvinar dolor. Donec ornare ac magna ac euismod.</p>
                        <div class="readmore"> Read More...</div>
                    </div>
                </article>
                <article>
                    <div class="articleimg">
                        <img src="img/239-300x200.jpg">
                        <div class="articlefooter"> Article by Alex D. - March 22, 2022 </div>
                    </div>
                    <div class="articletxt">
                        <h2>Article title Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan eleifend sapien vitae cursus. Aliquam laoreet purus ut pellentesque auctor. Curabitur consequat mauris sed leo condimentum finibus. Pellentesque iaculis turpis pellentesque risus semper posuere. Pellentesque sit amet pulvinar dolor. Donec ornare ac magna ac euismod.</p>
                        <div class="readmore"> Read More...</div>
                    </div>
                </article>
                <div class="loadmoreposts"> Load More Posts </div>
            </section>
        </main>
        <footer>
            Footer of Blog, with contacts, disclaimers, etc
            <a href="http://www.devanswer.com" style="font-size:10px">Developer Answers</a>
        </footer>
    </center>
</body>
</html>
